html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}

#contenedor {
  margin: 15% 45%;
}

#circulo {
  background-color: rgb(255, 196, 0);
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  margin-left: 10%;
}